*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
}
.clearfix::after{
  clear:both;
  display:table;
  content:"";
}
ul{
  list-style: none;
}
a{
  text-decoration:none;
  color:#fff;
}
.fl{float:left;
}
.fr{float:right;
}
.container{
  width:1200px;
  margin:0 auto;
}

.button{
  border-radius:2px;
  background-color: darkorange;
  padding:10px 5px;
}

.transparent {
  border-radius:2px;
  padding:10px 5px;
  color:orange;
  border:1px solid darkorange;
  background-color:transparent !important;
}
header{

  height:500px;
  background-image:url("../img/jumbotron.png") ;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: bottom -90px right 0;
}
 nav{
  height:50px;

}


nav ul li{display:inline-block;}

.rubik{text-align:center;
margin:0 auto;
width:400px;}
.particular{
  width:100%;
  height:40px;
  line-height: 40px;
}
.particular hr{
  margin-top:25px;
}
.particular .col-4{
  text-align: left;
  text-transform: uppercase;
  font-style: bold;
}

.col-8{
  width:80%;
}
.col-4{
  width:20%;
}

.col-3{
  width:25%;
}
.col-6{
  width:50%;
}

.col-12{
  width:100%;
}
.col-2{
width:30%;
}
.col-2:nth-child(2){
margin:0 5%;
}
footer{
  background-color:rgb(38,56,73);
  color:#fff;
  height:400px;
}
footer .col-12{
  height:20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
footer .col-12 li,footer .col-4.fr li{
  display:inline-block;
  color:#fff;
}

.nav.container.clearfix:first-child{
background-color:rgb(241,247,252);
height:50px;
border-bottom:3px solid grey;
}
.nav.container.clearfix:first-child li,.container.clearfix:nth-child(2) {
line-height: 50px;
}
.nav.container.clearfix:nth-child(2){

height:50px;
}

 .nav nav img{
  margin-top: 7px;
}

.jumbotron h4{
  margin-top: 20px;
margin-bottom: 20px;
}
.jumbotron p{
margin-top: 30px;
}
.jumbotron h1{
  font-size: 50px;
}
.jumbotron{
 padding-top:100px;
 width:400px;
}
.header{
  background-color: rgb(160,230,219);
  height:100px;
  width:100%;
  border-top:3px solid rgb(33,49,67);
  border-bottom:3px solid rgb(33,49,67);
}

.rubik{
  padding-top:30px;
}
.rubik h4{
  margin:10px 0;
}

main{
  margin:0 auto;
  width:100%;
  background-color: rgb(239,245,250);
}

main .col-2,main .col-12
{
  background-color: #fff;
  border:2px solid grey;
}

main .col-12
{ height:200px;
  margin-bottom: 10px;
  padding:10px;
}
main .col-4{
  text-align: center;
  padding:5px 0;
}

main .button{
position:relative;
top:-20px;
}

main .col-2{
  text-align: center;
  height:230px;
}

main .col-2 h6
{
text-align: left;
}
main .col-2 hr
{
margin:0 auto;
width:90%;
}
main .col-2 .button
{position:relative;
 top:20px;
}

.gradient{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 4%, rgba(9,121,96,0.8533788515406162) 100%);
text-align: center;
}

.sponsor .col-4,.sponsor .col-8{
  padding-left:100px;
}
.gettingstarted .col-6,.sponsor .col-6{
  padding-left:70px;
}

.gettingstarted h2{
 padding-top:40px;

}
.gettingstarted p{
  margin: 20px 0;
}
footer .btn{
  border-radius:2px;
  padding:10px 5px;
  color:rgb(75,107,81);
  background-color: #ccc;
  line-height: 50px;
}

footer .col-3 ul li:first-child
{
  font-size:18px;
  font-weight: bold;
  padding: 15px 0;
}

footer .col-4.fr li{
padding:20px 0 0 15px;
}
footer .col-4.fl li img{
margin-top:20px;
}
main i{
  color:darkorange;
}
main h6{
  padding-left: 15px;
}
